.section3{
  margin-top: em(70);
  .titl{
    font-size: em(30);
    letter-spacing: em(1, 30);
    margin-left: em(20,30);
  }
  .block1-s3{
    margin-top: em(40);
    margin-left: em(20);
    .l-block-s3{
      display: block;
      width: em(450);
    }
    .r-block-s3{
      display: block;
      width: em(400);
      margin: em(10) 0 0 em(222);
      .titl-rb{
        font-size: em(30);
        letter-spacing: em(1, 30);
      }
      .text{
        font-size: em(15);
        max-width: 100%;
        margin: em(15,15) 0 em(20,15);
        p {
          line-height: em(28,15);
          letter-spacing: em(1,15);
        }
        p:nth-child(2){
          margin: em(26,15) 0 em(40,15);
        }
      }
      a{
        font-size: em(15);
      }
    }
  }
  .block2-s3{
    padding-top: em(30);
    .l-block-s3{
      width: em(400);
      margin-left: em(20);
      .titl-rb{
        font-size: em(30);
        margin-top: em(20,30);
        letter-spacing: em(1, 30);
      }
      .text{
        font-size: em(15);
        margin: em(15,15) 0 em(20,15);
        p {
          line-height: em(28,15);
          letter-spacing: em(1,15);
        }
      }
      a{
        font-size: em(15);
        letter-spacing: em(3,12);
      }
    }
    .r-block-s3{
      display: block;
      width: em(450);
      margin-top: em(10);
      margin-left: em(190);
    }
  }
  .page-s3{
    font-size: em(100);
    top: em(170,100);
    right: em(-50,100);
    left: auto;
    transform:translate3d(0, -50%, 0) rotate(-90deg);
    width: em(245,100);
    span{
      font-size: em(16,100);
      letter-spacing: em(4,16);
    }
  }
  .begin-btn{
    margin: em(40,14) auto 0;
  }
  .br-s3{display: none;}
}
